<footer class="text-sm text-neutral-500 dark:text-neutral-400">
    <div
        class="mx-auto flex w-full max-w-7xl flex-col gap-6 border-t border-neutral-200 px-6 py-12 text-sm md:flex-row md:gap-12 md:px-4 min-[1320px]:px-0 dark:border-neutral-700">
        <div><a class="flex items-center gap-2 text-black md:pt-1 dark:text-white" href="/">
                <div
                    class="flex flex-none items-center justify-center border border-neutral-200 bg-white dark:border-neutral-700 dark:bg-black h-[30px] w-[30px] rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Acme Store logo" viewBox="0 0 32 28"
                        class="h-4 w-4 fill-black dark:fill-white h-[10px] w-[10px]">
                        <path d="M21.5758 9.75769L16 0L0 28H11.6255L21.5758 9.75769Z"></path>
                        <path d="M26.2381 17.9167L20.7382 28H32L26.2381 17.9167Z"></path>
                    </svg>
                </div><span class="uppercase">Luka Store</span>
            </a></div>
        <nav>
            <ul>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300 text-black dark:text-neutral-300"
                        href="/">Home</a></li>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300"
                        href="/about">About</a></li>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300"
                        href="/terms-conditions">Terms &amp; Conditions</a></li>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300"
                        href="/shipping-return-policy">Shipping &amp; Return Policy</a></li>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300"
                        href="/privacy-policy">Privacy Policy</a></li>
                <li><a class="block p-2 text-lg underline-offset-4 hover:text-black hover:underline md:inline-block md:text-sm dark:hover:text-neutral-300"
                        href="/frequently-asked-questions">FAQ</a></li>
            </ul>
        </nav>
        <div class="md:ml-auto"><a
                class="flex h-8 w-max flex-none items-center justify-center rounded-md border border-neutral-200 bg-white text-xs text-black dark:border-neutral-700 dark:bg-black dark:text-white"
                aria-label="Deploy on Vercel" href="#"><span
                    class="px-3">▲</span>
                <hr class="h-full border-r border-neutral-200 dark:border-neutral-700"><span class="px-3">Contact</span>
            </a></div>
    </div>
    <div class="border-t border-neutral-200 py-6 text-sm dark:border-neutral-700">
        <div
            class="mx-auto flex w-full max-w-7xl flex-col items-center gap-1 px-4 md:flex-row justify-center md:gap-0 md:px-4 min-[1320px]:px-0">
            <p>© 2025 Luka Store. All rights reserved.</p>
            <p>
        </div>
    </div>
</footer>